<!-- table zwave_devices search -->
<div class="float-right">
	<button class="btn btn-primary btn-sm" data-toggle="modal" data-target="#about">About&nbsp;&nbsp;<span class="glyphicon glyphicon-info-sign icon-white"></span>
	</button>
</div>

<div class="modal fade" id="about" tabindex="-1" role="dialog" aria-labelledby="about1" aria-hidden="true">
<!-- <div id="about" class="modal hide"> -->
	<div class="modal-dialog">
		<div class="modal-content">
			<div class="modal-header">
				<button class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
				<h4 class="modal-title">Милур. [#VER#]</h4>
			</div>
			<div class="modal-body">
				<p> Модуль поддержки милур 104.<br>
				<a href="https://majordomo.smartliving.ru/forum/viewtopic.php?f=8&t=4786" target="_blank">Forum</a>.<br>
				</p>
				<p class="float-left"></p>
			</div>
			
			<div class="modal-footer">
				<div class="pull-left">Best regards!<br>@S :)</div>
				<button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
			</div>
		</div>
	</div>
</div>

<div>
 Milur  <a class="btn btn-default" href="#" onClick="$('#api_settings').toggle();return false;"><#LANG_SETUP#></a>
</div>

<div style="display:none" id='api_settings'>
&nbsp;
<form action="?" method="post" enctype="multipart/form-data" name="frmEdit" class="form-horizontal">
<fieldset>
<div class="form-group" id="e_ipadress">
 <label class="control-label"[#if ERR_E_IPADRESS#] style="color:red;font-weight:bold"[#endif#]>Ip adress:(*)</label>
 <div class="controls"><input type="text" name="e_ipadress" value="<#E_IPADRESS#>" class="input"><div>ex 192.168.1.1 </div></div>
</div>
<div class="form-group" id="e_port">
 <label class="control-label"[#if ERR_E_PORT#] style="color:red;font-weight:bold"[#endif#]>Port:(*)</label>
 <div class="controls"><input type="text" name="e_port" value="<#E_port#>" class="input"><div>default 3000 </div></div>
</div>

<div class="form-group" id="e_interval">
 <label class="control-label"[#if ERR_E_INTERVAL#] style="color:red;font-weight:bold"[#endif#]>Interval:(*)</label>
 <div class="controls"><input type="text" name="e_interval" value="<#E_INTERVAL#>" class="input"><div>In sec >= 5sec</div></div>
</div>

<div class="form-actions">
<button type="submit" name="subm" value="Submit" class="btn btn-primary"><#LANG_UPDATE#></button>
<input type="hidden" name="view_mode" value="update_settings">
<input type="hidden" name="mode" value="update">
</div>
</fieldset>
</form>
</div>
<br/>

[#if TAB="" || TAB=""#]
	[#if VIEW_MODE="search" || VIEW_MODE=""#]
		[#inc search_list.html#] 
	[#endif VIEW_MODE#] 
	[#if VIEW_MODE="edit"#]
		[#inc edit_val.html#]
	[#endif#]
[#endif#]