<div>

<a href="https://www.milur.ru/"> 
<img src="../img/modules/milandr.png" width="20%" height="20%"  > &nbsp;&nbsp; &nbsp;&nbsp;
</a>&nbsp;&nbsp; &nbsp;&nbsp;
 &nbsp;&nbsp;<a class="btn btn-default" href="?data_source=<#DATA_SOURCE#>&view_mode=get&tab=">GET DATA</a>

&nbsp;&nbsp;&nbsp;&nbsp;	
	[#if CYCLERUN==1#]
		<span class="label label-success" title="Статус цикла">Цикл запущен</span>
	[#else#]
		<span class="label label-danger" title="Статус цикла">Цикл остановлен</span>
	[#endif#]

 &nbsp; 
</div>



	 <ul class="nav nav-tabs">

<br>

<li [#if TAB=="" || TAB=="config" #] class="active" [#endif#]><a href="?data_source=<#DATA_SOURCE#>&view_mode=<#VIEW_MODE#>&id=<#ID#>&tab=config"><span class="glyphicon glyphicon-cog"></span> Настройки</a></li>
<li [#if TAB=="debug" #] class="active" [#endif#]><a href="?view_mode=<#VIEW_MODE#>&tab=debug"><span class="glyphicon glyphicon-info-sign"></span> Отладка</a> </li>	
<li [#if TAB=="help" #] class="active" [#endif#]><a href="?view_mode=<#VIEW_MODE#>&tab=help"><span class="glyphicon glyphicon-info-sign"></span> Помощь</a> </li>	
</ul>
[#if TAB="config" || TAB==""#]
<br>
<div>
<div>
<img src="../img/modules/[#MODEL#].png" width="20%" height="20%" align="right" > 
</div>
 [#module name="settings"  action="admin"  filter_name="appmilur"#]

</div>

 [#endif#]

[#if TAB="debug"#]
<br>
Degug:
<div>
[#DEBUG#]

</div>

 [#endif#]

[#if TAB="help"#] [#inc help.html#] [#endif#]
