<br/>
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sms_help">Информация</a>
		</div>
		<div class="panel-body collapse" id="sms_help">
Slack — корпоративный мессенджер. Запущен в тестовом режиме в августе 2013 года, публичный релиз состоялся 12 февраля 2014. В первый день тестирования зарегистрировались 8 тысяч компаний. По данным компании на июнь 2015, Slack ежедневно используют 1,1 миллиона пользователей[1]. Slack стал самым быстрорастущим бизнес-приложением в истории[2].
<a href="https://ru.wikipedia.org/wiki/Slack">Wikipedia</a>

			
			</br>     </br>

	
		</div> </div> </div>


<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#nach">Начало работы</a>
		</div>
		<div class="panel-body collapse" id="nach">
		<p>

1. Регистрируемся https://api.slack.com/ </br> 
2. Создаем новое приложение  https://api.slack.com/apps/new

AppName — название приложения.  </br>
Short description — краткое описание приложения.  </br> 
Describe what your app does on Slack — полное описание приложения.  </br> 
Link to clear instructions on how to install your Slack app.  </br>
Link to support for your Slack app — две ссылки на страницы с описанием установки и использования данного приложения.  </br>

На вкладке Basic Information выбираем Add features and functionality, далее Incoming Webhooks, и включаем Activate Incoming Webhooks  </br>

На странице Activate Incoming Webhooks на нужно Webhook URLs for Your Workspace  </br>

Webhook имеет формат:  </br> 
https://hooks.slack.com/services/T00000 ... XXXXXXXXXX  </br> </br> - Эту строку помещаем в настройки модуля.</br> 
Для получения сообщений от сервера нужен токен, который можно получить по адресу  

<a href="https://api.slack.com/custom-integrations/legacy-tokens">https://api.slack.com/custom-integrations/legacy-tokens</a> </br> 


		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#sendmsg">Отправка сообщений</a>
		</div>
		<div class="panel-body collapse" id="sendmsg">
		<p>
<b>Подписка на чат системы</b></br>
Подписка на чат системы производится автоматически при установке модуля. </br></br>

<b>Отправка текстовых сообщений из сценариев:</b> </br>

include_once(DIR_MODULES . 'slack/slack.class.php');</br>
$slack_module = new slack();</br>
$slack_module->sendMessageToAll("test message to all");</br></br>
		
<b>Отправка картинок из сценариев:</b> </br>

include_once(DIR_MODULES . 'slack/slack.class.php');</br>
$slack_module = new slack();</br>
$slack_module->sendImageToAll("http://192.168.1.xx/img.jpg","test image");</br>
</br>

		</div> </div> </div>
		
<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#cont">Контактная информация</a>
		</div>
		<div class="panel-body collapse" id="cont">
		<p>
<a href="https://github.com/directman66/majordomo-slack" target="_blank">Ссылка на репозиторий</a><br>
<a href="http://majordomo.smartliving.ru/forum/viewtopic.php?f=5&t=5651" target="_blank">Тема на форуме</a>.<br>

<br></br>


		</div> </div> </div>

<div class="panel-group" id="accordion">
	<div class="panel panel-info">
		<div class="panel-heading">
		<a data-toggle="collapse" data-parent="#accordion" href="#bax">Поддержать разработку</a>
		</div>
		<div class="panel-body collapse" id="bax">

[#inc rekv.html#]

		</div> </div> </div>

                                                                                                         
	
</div>


	
</div>

