
<br>
<style>
.raz {
  border-spacing: 12.5em 1.3em; /* border-collapse наследуется, применяется только к table или inline-table элементам с border-collapse: separate; */ 
}
.raz,
.raz td {
  border: 0px solid red;
padding: .3em 1em
}
</style>
<table >
<tr><td>
</td>
<td>

<table>

<tr> 
<td><code>&#091#module name="milur" type="MOMENT"  #&#093</code></td>
<td><code>&#091#module name="milur" type="POKAZANIYA"  #&#093</code></td>
<td><code>&#091#module name="milur" type="$"  #&#093</code></td>
</tr><tr>
<td>
 [#inc moment.html#]

</td>
<td> [#inc pokaz.html#]</td>
<td> [#inc rash.html#]</td>
<td>
   <p><a href="/panel/linkedobject.html?op=redirect&object=[#MODEL#]&sub=properties"><img src="../img/modules/[#MODEL#].png" width="30%" 
   height="30%" border="0" alt="[#MODEL#]" align="right"></a></p>
</td>
</tr>
<tr><td>

<code>&#091#module name="milur" type="MOMENTMINI"  #&#093</code><br><br>
 [#inc momentmini.html#]
</td></td>
</table>




</td>
</tr>
</table>

<hr/>
<table>
<tr>
<td>Мощность:</td>
<td>Напряжение:</td>
</tr><tr>
<td><iframe src="/module/charts.html?id=config&period=24h&property=[#MODEL#].P&bg=light" width=600 height=400></iframe> </td>
<td><iframe src="/module/charts.html?id=config&period=24h&property=[#MODEL#].U" width=600 height=400 bgcolor='red'></iframe> </td>
</tr>
</table>


